@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.navbar {
  background-color: #fff;
}

.navbar-image {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.footer-banner {
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.78vw;
  margin-bottom: 0;
}

.footer-banner-info {
  max-width: 400px;
}

.footer-banner-info h2 {
  font-size: 1.67rem;
  margin-bottom: 0.56rem;
}

.footer-banner-info h3 {
  font-size: 1.17rem;
  margin-bottom: 0.56rem;
}

.footer-banner-info p {
  font-size: 0.83rem;
  margin: 0 0 0.56rem 0;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin: 3.33vw 1.11vw 1.67vw 1.11vw;
}

.card:hover {
  box-shadow: 0 0.17vw 0.56vw rgba(0, 0, 0, 0.4);
  transform: translateY(-0.28vw);
}

.card-body {
  padding: 1.39vw;
}

.card-title {
  margin-bottom: 0.56rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 0.28rem;
  font-size: 1.17rem;
}

@media (max-width: 767px) {
  .card {
    margin-bottom: 0.83rem;
  }

  .card-title {
    font-size: 1.11rem;
  }

  .card-text {
    font-size: 0.89rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.11vw;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.56rem;
}

input {
  width: 100%;
  padding: 0.28rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.17rem;
  margin-top: 0.28rem;
  font-size: 1rem;
}
button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  form {
    width: 50%;
    margin: 20px auto;
  }
  
  label {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  input {
    margin-top: 0;
  }
}
